<div>
   <span style="float:right; margin-right:20%; padding:20px"><button class='btn btn-primary' (click)='logout()'>Logout</button></span>
</div>
<div class="container">
    <div class="row">
       <div class="col-lg-12 p-3">
          <h1>India COVID Tracker</h1>
       </div>
    </div>
    <div class="row m-3">
       <div class="col-lg-4"><button class="btn btn-primary" (click)="showActive()">Active</button></div>
       <div class="col-lg-4"><button class="btn btn-primary" (click)="showConfirmed()">Confirmed</button></div>
       <div class="col-lg-4"><button class="btn btn-primary" (click)="showDeceased()">Deceased</button></div>
    </div>
    <div class="row">
       <div class="col-lg-6">
          <google-chart [type]="type" [data]="geoData" [columns]="chartColumns" [options]="geoOptions"
             (select)="onSelectState($event)">
          </google-chart>
       </div>
       <div class="col-lg-6">
         <google-chart type="LineChart" [data]="lineData" [options]="lineOptions" (select)="onSelectState($event)">
         </google-chart>
       </div>
    </div>
 </div>
 